<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Juno - Fluff</title>
		{% load static %}
		<link href="{% static 'singularity.css' %}" rel="stylesheet" type="text/css" />
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		Fluff.
		<ol>
			{% for x in stories %}
				<li>
					<a href="{{ x.pk }}"><b>{{ x.title }}</b></a>
					<span class="date">{{ x.date }}</span>
					{% if x.archived %}<span class="tag is-success">Tag label</span>{% endif %}
				</li>
			{% endfor %}
		</ol>
	</body>
</html>